<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="hosts">
        <i class="fa fa-television" aria-hidden="true"></i>
        PicPay
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a class="navbar-item" href="users">Users</a></li>
    </ul>

  </div>
</nav>
