<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <i class="fa fa-television" aria-hidden="true"></i>
        PicPay
      </a>
    </div>
  </div>
</nav>
