<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
        <form class="search">
          <input class="searchTerm" placeholder="Pesquise aqui...">
          <div class="searchButton"> <input type="submit"></div>
        </form>
    </div>
  </div>
</nav>
