<!DOCTYPE html>
<html lang="pt-br">
<head>
  <% include head %>
</head>
<body class="container">

  <header>
    <% include header %>
  </header>

  <main>
    <div class="jumbotron">
      <div class="container">
        <table class="table user-table table-striped">
          <thead>

          </thead>
          <tfoot>

          </tfoot>
          <tbody>

          </tbody>

        </table>
      </div>
    </div>
  </main>

  <footer>
    <% include footer %>
  </footer>

</body>
<script>

function goToPage(page){
  if (page == null){ //foi passado via input
    var page = $('#pageTarget').val();
  }
  $(".user-table thead").empty();
  $(".user-table tbody").empty();
  $(".user-table tfoot").empty();
  $('<i class="fa fa-spinner fa-spin"></i>').appendTo('.user-table thead')
  search.init(page);
}

$('.searchTerm').tagsinput({
  confirmKeys: [13, 32, 44]
});

$('.searchButton').on('click',function(){
  $(".user-table thead").empty();
  $(".user-table tbody").empty();
  $(".user-table tfoot").empty();
  $('<i class="fa fa-spinner fa-spin"></i>').appendTo('.user-table thead')
  search.init(1);
});


var search = {
  init: function(page){
    search.ajaxData(page);
  },
  ajaxData : function (page){
    var query = $('.searchTerm').tagsinput('items');
    var url = "/users/"+page+"/" + query;
    $.getJSON( url, function( result ) {
      $(".user-table thead").empty();
      var users = result.docs;
      var total = result.total;
      var limit = result.limit;
      var page = result.page;
      var nextPage = page + 1;
      var nextNextPage = page + 2;
      var pages = result.pages;
      $(`<tr>
        <th><b>ID</b></td>
        <th><b>Nome</b></td>
        <th><b>Username</b></td>
        <th><b>Listas de Relevancia</b></td>
      </tr>`).appendTo(".user-table thead");
      users.forEach(function(user){
        $(`
        <tr>
          <td>
            <p>${user.id_sec}</p>
            </td>
        <td>
          <p>${user.name}</p>
        </td>
        <td>
          <p>${user.username}</p>
        </td>
        <td>
          <input class="btn btn-success btn-confirm" type="button" value="확인">
          <p><button class="btn btn-info btn-modify">수정</button></p>
        </td>
        </tr>
        `).appendTo(".user-table tbody");
      });

          $(`<tr>
            <td><b id="usuarios">`+total+` usuário(s) encontrados</b></td>
            <td><b id="paginas">`+pages+` página(s)</b></td>
            <td><ul class="pagination pagination-sm right">
              <li class="disabled"><a href="#">&laquo;</a></li>
              <li class="active goToPage" onclick="goToPage(`+page+`);"><a>`+page+`<span class="sr-only">(current)</span></a></li>
              <li class="goToPage" onclick="goToPage(`+nextPage+`);"><a>`+nextPage+`</a></li>
              <li class="goToPage" onclick="goToPage(`+nextNextPage+`);"><a>`+nextNextPage+`</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul></td>
            <td> <div class="input-group col-sm-7">
              <input type="Number" min=1 id="pageTarget" class="form-control" placeholder="`+page+`" >
              <div title="Pular para página" class="input-group-addon goToPage"  onclick="goToPage();"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></div>

            </div> </td>
          </tr>`).appendTo(".user-table tfoot");
    });
  },

};



</script>
</html>
