<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Hello World</h1>
        </div>
    </main>

    <footer>
        <% include footer %>
    </footer>

</body>
</html>
