<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

<main>
  <p>Preparando banco de dados. Caso seja a primeira execução da aplicação, isso pode levar algum tempo...</p>
  <div class="loading-container">
    <div class="loading"></div>
    <div id="loading-text">loading</div>
</div>

</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>
