# In all environments, the following files are loaded if they exist,
# the later taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=ebfb6dfbab639815bc1da66e6bf7509e
###< symfony/framework-bundle ###

# Configuration of the mysql docker container
# Example:
# MYSQL_ROOT_PASSWORD=rootpass00
# MYSQL_DATABASE=picpay
# MYSQL_USER=user
# MYSQL_PASSWORD=userpass00

MYSQL_ROOT_PASSWORD=<root_password>
MYSQL_DATABASE=<dbname>
MYSQL_USER=<user>
MYSQL_PASSWORD=<password>

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Set "serverVersion" to your server version to avoid edge-case exceptions and extra database calls
# Example:
# DATABASE_URL=mysql://user:userpass00@db:3306/picpay?charset=utf8mb4&serverVersion=5.7

DATABASE_URL=mysql://<user>:<password>db:3306/<dbname>?charset=utf8mb4&serverVersion=5.7
###< doctrine/doctrine-bundle ###

# Data files
# Example:
# USERS_FILE_PATH=users.csv
# PRIORITY1_FILE_PATH=lista_relevancia_1.txt
# PRIORITY2_FILE_PATH=lista_relevancia_2.txt

USERS_FILE_PATH=<users_path_file>
PRIORITY1_FILE_PATH=<priority_1_path_file>
PRIORITY2_FILE_PATH=<priority_2_path_file>

###> nelmio/cors-bundle ###
# Example:
# CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
CORS_ALLOW_ORIGIN=^https?://<dominio>:?[0-9]*$
###< nelmio/cors-bundle ###

# Elasticsearch base URI
# Example:
# ELASTIC_HTTP_CLIENT_BASE_URI=es:9200

ELASTIC_HTTP_CLIENT_BASE_URI=<elastic_base_uri>
