version: '3'
services:
  


    nginx:
      build:
        context: ./nginx
      volumes:
        - ../src:/var/www
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        - ./nginx/sites/:/etc/nginx/sites-available
        - ./nginx/conf.d/:/etc/nginx/conf.d
      depends_on:
        - php-fpm
      ports:
        - "80:80"
        - "3001:443"

    php-fpm:
      build:
        context: ./php-fpm
        volumes:
          - ../src:/var/www/
