<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Desafio PicPay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li *showAuthed="true" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/users/list">Usuários</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li *showAuthed="false" class="nav-item">
          <a class="nav-link" routerLink="/auth/signin">Login</a>
        </li>
        <li *showAuthed="true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentUser.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
