<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><img src="assets/picpay-logo.png" alt="Logo picpay" height="50px"></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="loginForm" class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" type="email" formControlName="username" class="form-control"  required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Senha" type="password" formControlName="password" class="form-control" required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="login-button" form="loginForm" type="submit">Login</button>
      <div class="register-content">
        <p>Não possui uma conta? <button mat-button (click)="register()">Cadastre-se</button></p>
      </div>
    </mat-card-actions>
  </mat-card>
</div>