<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th class="col-md-3">ID</th>
        <th class="col-md-5">Nome</th>
        <th class="col-md-4">Username</th>
      </tr>
      <tr *ngFor="let user of users">
        <td class="text-inherit">{{ user.id }}</td>
        <td class="text-inherit">{{ user.name }}</td>
        <td class="text-inherit">{{ user.username }}</td>
      </tr>
      <tr *ngIf="!users || users.length == 0">
        <td colspan="3">Não foram encontrados registros</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12" style="text-align: center;">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon" (click)="pagePrevious()" [ngClass]="{'disable-button': (currentPage == 1)}">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </div>
          <div class="custom-pagination noselect">Página {{currentPage}}</div>
          <div class="input-group-addon" (click)="pageNext()" [ngClass]="{'disable-button': !hasNextPage}">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
