# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=%kernel.debug%
APP_SECRET=8e7ee7244059fd203714717fd4587920
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
# Key paths should be relative to the project directory
JWT_PRIVATE_KEY_PATH=Resources/jwt/private.pem
JWT_PUBLIC_KEY_PATH=Resources/jwt/public.pem
JWT_PASSPHRASE=42d8d9ae3f3680cefb6bac2ed8ca8fea
###< lexik/jwt-authentication-bundle ###

###> import-files ###
DB_CSV_PATH=Resources/db/users.csv
DB_P1_PATH=Resources/db/lista_relevancia_1.txt
DB_P2_PATH=Resources/db/lista_relevancia_2.txt
###< import-files ###

###> enqueue/enqueue-bundle ###
ENQUEUE_DSN=amqp://@rabbitmq
###< enqueue/enqueue-bundle ###

###> elastic-search-bundle ###
ELASTIC_HOST=localhost
ELASTIC_PORT=9200
###< enqueue/enqueue-bundle ###
