<aside id="left-panel">
  <nav>
    <ul saSmartMenu>
      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-user"></i> <span
          class="menu-item-parent">{{'Usuários' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
              <a routerLink="/picpay/user-mysql">{{'MySQL' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
              <a routerLink="/picpay/user-es">{{'Elasticsearch' | i18n}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
