certifi==2018.4.16
chardet==3.0.4
click==6.7
elasticsearch==6.3.0
eventlet==0.23.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-JWT-Simple==0.0.3
Flask-SocketIO==3.0.1
greenlet==0.4.14
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
PyJWT==1.6.4
python-engineio==2.2.0
python-socketio==2.0.0
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
Unidecode==1.0.22
urllib3==1.23
Werkzeug==0.14.1
