input {
  file {
    path            => "/import_data/users.csv"
    start_position  => "beginning"
    sincedb_path    => "/dev/null"
    type            => "users"
  }
  file {
    path            => "/import_data/lista_relevancia_1.txt"
    start_position  => "beginning"
    sincedb_path    => "/dev/null"
    type            => "relevancia_1"
  }
  file {
    path            => "/import_data/lista_relevancia_2.txt"
    start_position  => "beginning"
    sincedb_path    => "/dev/null"
    type            => "relevancia_2"
  }
}
filter {
  if [type] == "users" {
    csv {
      separator => ","
      columns => [ "id", "name", "username" ]
    }
  }
}
output {
  if [type] == "users" {
    elasticsearch {
      action => "index"
      hosts => [ "elasticsearch:9200" ]
      index => "users"
      document_type => "user"
      document_id => "%{id}"
    }
    stdout {}
  }
  if [type] == "relevancia_1" {
    elasticsearch {
      action => "index"
      hosts => [ "elasticsearch:9200" ]
      index => "relevancia_1"
      document_type => "user"
    }
    stdout {}
  }
  if [type] == "relevancia_2" {
    elasticsearch {
      action => "index"
      hosts => [ "elasticsearch:9200" ]
      index => "relevancia_2"
      document_type => "user"
    }
    stdout {}
  }
}