/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    background-color: #21c25e;
    margin: 0%;
}

mat-form-field{
    max-height: 60px;
}