RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|fonts|images|js|captcha|robots\.txt)
RewriteRule ^(.*)$ index.php?q=$1 [QSA,L]