body {
  font-family: Helvetica, Arial, Sans-Serif, sans-serif;
  height: 100vh;
  background-image: linear-gradient(259deg, #3c3e64,#1d1e2a);
  box-shadow: 0 0.5px 0 0 #ffffff, 0 -0.5px 0 0 #ffffff;  
}

.user-item {
  width: 527px;
  height: 60px;   
  background-image: linear-gradient(259deg, white,white);
  box-shadow: 0 1.0px 0 0 #3c3e64, 0 -1.0px 0 0 #1d1e2a;  
}