{% extends 'base.html.twig' %}

{% block body %}
    <div id="vueApp">

    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
    <link rel="preload" href="{{ asset("/build/app.js") }}" as="script"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock javascripts %}