*{padding: 0;margin: 0;border: 0;}

html, body {
     display:flex;
     flex-direction: column;
     align-content: stretch;
     font-family: roboto;
     background-color: #EFF3F6;
}

/* ------------------------------------------ TOP ------------------------------------------ */

header{
    width: 100%;
    min-width: 1000px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: space-between;
    border-bottom: 1px solid #E9EDF1;
}

header img{
    display: block;
}

.dropmenu img{
     margin: 0 15px;
}

.dropmenu ul{
     display: flex;
     align-items: center;
}

.dropmenu li{
     display: inline-block;
}
header .logo{
    height: 24px;
    margin: 2px 0 0 45px;
}




/* ------------------------------------------ CONTENT ------------------------------------------ */

#page{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#content{
    min-width: 780px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-box{
     border-radius: 5px;
     margin: 0 20px;
     background-color: #FFFFFF;
     overflow: hidden;

}

.header-title{
     margin-top: 10px;
     padding: 20px 40px;
}

.header-content{
     background-color: #F4F5F7;
}

.header-content li{
     border-radius: 7px 7px 0 0;
     margin-left: 10px;
     padding: 0 10px;
     display: inline-block;
}

.header-content a{
     height: 100%;
     padding: 14px 0 10px 0;
     display: inline-block;
}

.search-content{
     position: relative;
     float: right;
     display: flex;
     align-items:center;
     align-content: inherit;
     justify-content:center;
}

.search-content input{
     width: 300px;
     margin: 10px 20px 0 0;
}

.search-input{
    width: 300px;
    margin: 10px 20px 0 0;
}


.search-content select{
     margin: 10px 20px 0 0;
}

.active{
     background-color: #ffffff;
}

.active a{
     border-bottom: 4px solid #24B7A6;
}

.searchbar{
     width: 100%;
     height: 40px;
     margin-top: -35px;
     text-align: right;
}

.searchbar input{
     margin-top: 0;
     width: 300px;
}

.searchbar select{
     margin-left: 10px;
     height: 40px;
}

.core{
     padding: 20px;
}

#content div.shadow{
     flex-grow: 1;
     margin-bottom: 10px;
}

.core-content{
     margin-bottom: 20px;
     display: flex;
}

.perfis-item a{
     text-decoration: none;
}

.row{
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.rowr{
    min-height: 26px;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;

}
.row div:last-child *{
     padding-right: 26px;
}

.row div{
     align-self: flex-end;
}

.row div *{
}

.row table{
     width: 100%;
     border-collapse: collapse; 
     border-spacing: 0;
}

.row table tr:nth-child(even) {
     background: #F3F5F8;
}

.row table th{
     text-align: left;
     padding-bottom: 10px;
}

.row table td{
     height: 40px;
     border-top: 1px solid #DCE2E8;
}

.row table button{
     float: right;
}

.col{
     margin: 20px;
     display: flex;
     flex-direction: column;
}

.col div:not(:first-child){
  margin-top: 30px;
}

/* ------------------------------------------ BUDGET ------------------------------------------ */

#budget-table td, th{
     padding: 0 7px 0 7px;
}


/* ------------------------------------------ LOGIN ------------------------------------------ */
#login{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#24b7a6, #23af9f);
}
#login img{
  width: 250px;
  margin-bottom: 30px;
}

#login p{
  color: #AAAAAA;
}

#login div{
    margin-top: -5%;
    text-align: center;
}

#login form{
  width: 300px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#login form > *{
  width: calc(100% - 16px);
}
#login form > *:not(:last-child){
  margin-bottom: 15px;
}
#login select{
  width: 100%;
}
#login input[type="submit"]{
  width: 100%;
  background-color: #23af9f;
  color: #FFFFFF;
}

#login a{
  text-decoration: underline;
  font-size: 9pt;
  font-weight: 400;
  color: #AAAAAA;
}


/* ------------------------------------------ DASHBOARD ------------------------------------------ */

.dashboard{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.dash-donut{
  width: 46%;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}

.dash-donut-col{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.tag-name{
  padding: 5px 10px;
  color: #ffffff;
  font-size: 1.1vw;
  text-align: center;
}

.tag-valor{
  margin-bottom: 5px;
  padding: 5px;
  color: #555555;
  font-size: 1.4vw;
  text-align: center;
}

.pie-subtitle{
  padding-left: 20px;
}

.dash-donut-col .shadow2{
  padding: 5px 5px 0 5px;
}

.dash-tag{
  color: #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  border: 3px solid #ffffff;
}

.dash-tag2{
  color: #555555;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  border: 3px solid #ffffff;
}

.dash-t1{
  font-size: 14pt;
}

.dash-t2{
  font-size: 17pt;
}

/* ------------------------------------------ STYLES ------------------------------------------ */

a{
     text-decoration: none;
}

h1{
     font-size: 23pt;
     font-weight: 400;
}

h2{
     font-size: 13pt;
     font-weight: 400;
}

h3{
     font-size: 13pt;
     font-weight: 400;
}

ul{
    list-style-type: none;
}

label{
     margin-bottom: 5px;
     font-size: 11pt;
     font-weight: 700;
     color: #555;
     display:block;
}

input{
    width: calc(100% - 36px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #D2D6DE;
    font-size: 11pt;
    color: #555;
}

select{
    /*width: calc(100% - 20px);*/
    height: 34px;
    border-radius: 5px;
    border: 1px solid #D2D6DE;
    font-size: 11pt;
    color: #555;
    background-color: #ffffff;
}

textarea{
     width: calc(100% - 36px);
     padding: 8px;
     border: 1px solid #D2D6DE;
     flex: 1;
     font-size: 11pt;
     font-weight: 100;
     color: #555;
     resize: none;
}

.bt{
    height: 26px;
    font-size: 10pt;
    border-radius: 4px;
    padding-right: 10px;
    vertical-align: middle;
}

.bt i{
    height: 12px;
    padding: 7px 10px;
    margin-right: 7px;
    border-radius: 4px;
}

.bti{
    height: 12px;
    padding: 7px 10px;
    border-radius: 4px;
}

button:hover{
  filter:brightness(110%);
  margin-top: -1px;
  cursor: pointer;
}

.row button:not(:last-child){
  margin-right: 15px;
}

.btred{
    color: #ffffff;
    background-color: #EB6553;
}

.btred i{
    background-color: #E95843;
}

.btyellow{
    color: #ffffff;
    background-color: #F6AA37;
}

.btyellow i{
    background-color: #D18F30;
}

.btgreen{
    color: #ffffff;
    background-color: #4CAF50;
}

.btgreen i{
    background-color: #46A24A;
}

.btgrey{
    color: #ffffff;
    background-color: #7D8997;
}

.btgrey i{
    background-color: #717D8C;
}

.shadow1{
     box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.17);
}

.shadow2{
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.03);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.03);
}

.info{
     vertical-align: top;
     margin-left: 2px;
     font-size: 9pt;
     color: #8A9DAD;
}

label a {
  position: relative;
  display: inline-block;
}

label a[target]:hover:after {
     font-weight: 400;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
     font-size: 11pt;
     color: #666666;
     position: fixed;
     width: auto;
     max-width: 250px;
     content: attr(target);
     background-color: #ffffff;
     border: 1px solid #999999;
     padding: 7px;
     margin-left: 10px;
     border-radius: 5px;
}

.inl{
     white-space: nowrap;
     padding-left: 40px !important;
     text-align: right;
}



.rw{
     display: flex;
     flex-direction: row;
}

.rwr{
     display: flex;
     flex-direction: row-reverse;
}

.cl{
     display: flex;
     flex-direction: column;
}

.readonly{
  background-color: #F9F9F9;
}

.list-filter{
    margin-right: 20px;
}


/* ------------------------------------------ COLORS ------------------------------------------ */

.blulgt{color: #19ADD0;}
.bludrk{color: #123648;}
.gre{color: #8A9DAD;}

.darkblue{background-color: #0057B8;}
.lightblue{background-color: #31A5FF;} 
.green{background-color: #52AD53;} 
.darkred{background-color: #980000;}
.red{background-color: #D13422;}
.orange{background-color: #FF7900;}
.yellow{background-color: #FFD200;}
.lightgrey{background-color: #F3F1F5;} 


/* ------------------------------------------ DIMENSIONS ------------------------------------------ */

.tp2{
    margin-top: 20px;
}

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* ------------------------------------------ LAYER ------------------------------------------ */

.wdw{
    width: 768px;
    color: #717171;
    border-radius: 5px;
    position: relative;
    margin: 40px auto;
    overflow: hidden;
    background-color: #FFFFFF;
    z-index: 25;
    display: flex;
    flex-direction: column;
}

.wdw-over{
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: flex-start;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: rgba(0,0,0,.4);
    z-index: 20;    
}

.wdw-top{
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wdw-top a{
    padding: 0 10px;
    color: #CCCCCC;
}

.wdw-top a:hover i{
    color: #E95843;
}

.wdw-content{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.hide{
    display: none;
}
