<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Consultar Usuario</h1>
      </div>
  
       <div class="panel-body">
          <div class="col-lg-14">
            <div class="col-lg-3 form-group">
              <div class="col-lg-12 form-group">
                <label>Digite um nome de usuario</label>
                <input id="username" [(ngModel)]='username' type="text" class="form-control"/>
              </div>  
              <div class="col-lg-12 form-group">
                <input id="buscarUsername" value="buscar Username" class="btn btn-primary form-control" type="submit" (click)='PesquisarUsername()' />   
              </div>
              <div class="col-lg-12 form-group">
                  <label>Digite um nome</label>
                  <input id="nome" [(ngModel)]="nome" type="text" class="form-control"/>
                </div>
              <div class="col-lg-12 form-group">
                  <input id="buscarNome" value="buscar Nome" class="btn btn-primary form-control" type="submit" (click)='PesquisarNome()' />   
                </div>
                                 
            </div>
            <div>
                <div class="col-lg-4 text-center">
                <strong>Id</strong>
                    <div *ngIf="usuario">
                        <p *ngFor="let user of usuario | paginate: { itemsPerPage: 10, currentPage: p }">
                            {{user.id}}
                        </p>
                    </div>
                    <div *ngIf="!usuario">
                        <p> Nenhum encontrado</p>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <strong>Nome</strong>
                    <div *ngIf="usuario">
                        <p *ngFor="let user of usuario | paginate: { itemsPerPage: 10, currentPage: p }">
                            {{user.nome}}
                        </p>
                    </div>
                    <div *ngIf="!usuario">
                        <p> Nenhum encontrado</p>
                    </div>
                </div>
                <div class="col-lg-2 text-center">
                    <strong>Username</strong>
                        <div *ngIf="usuario">
                            <p *ngFor="let user of usuario | paginate: { itemsPerPage: 10, currentPage: p }">
                                {{user.username}}
                            </p>
                        </div>
                        <div *ngIf="!usuario">
                            <p> Nenhum encontrado</p>
                        </div>
                </div>
                <div *ngIf="usuario">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
       </div>
  
       <div class="panel-footer">
          <p>Sistema para Busca de Usuários</p>
       </div>
  
    </div>
  </div>